#PRE-PROCESS DATA

##Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import pickle

##Read the dataset

In [2]:
df = pd.read_csv("/content/autos.csv", header=0, encoding="Latin1")
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0.0,golf,150000.0,0.0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190.0,NaN,125000.0,5.0,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163.0,grand,125000.0,8.0,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75.0,golf,150000.0,6.0,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69.0,fabia,90000.0,7.0,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21

##Cleaning dataset

###Printing different sellers

In [3]:
print(df.seller.value_counts())

privat        85455
gewerblich        1
Name: seller, dtype: int64

###Removing the seller "gewerblich"

In [4]:
df[df.seller != "gewerblich"]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0.0,golf,150000.0,0.0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190.0,NaN,125000.0,5.0,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163.0,grand,125000.0,8.0,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75.0,golf,150000.0,6.0,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69.0,fabia,90000.0,7.0,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85451,2016-03-07 12:57:43,Opel_Zafira_1.7_CDTI_ecoFLEX_Family,privat,Angebot,15550,test,bus,2013,manuell,110.0,zafira,30000.0,3.0,diesel,opel,nein,2016-03-07 00:00:00,0.0,92342.0,2016-04-05 20:16:51
85452,2016-03-28 22:55:31,BMW_540i_e39_Prins_LPG__AHK__Tuev__Eisenmann__...,privat,Angebot,5200,control,limousine,1999,automatik,286.0,5er,150000.0,0.0,lpg,bmw,nein,2016-03-28 00:00:00,0.0,32457.0,2016-04-07 14:58:16
85453,2016-04-03 09:49:56,Polo_1.2_motor,privat,Angebot,1600,control,NaN,2016,manuell,64.0,polo,5000.0,5.0,benzin,volkswagen,NaN,2016-04-03 00:00:00,0.0,59425.0,2016-04-03 09:49:56
85454,2016-03-21 23:51:11,Gepflegter_Passat_3b,privat,Angebot,3500,test,limousine,1997,manuell,125.0,passat,150000.0,1.0,benzin,volkswagen,nein,2016-03-21 00:00:00,0.0,38179.0,2016-04-05 13:17:04
85455,2016-03-22 12:06:26,Audi_A4_1_9_TDI_S_line,privat,Angebot,3490,control,kombi,2004,manuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Dropping the column seller, as all the entries are same

In [5]:
df = df.drop("seller", 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

###Printing different offer type

In [6]:
print(df.offerType.value_counts())

Angebot    85455
Gesuch         1
Name: offerType, dtype: int64

###Dropping the offer type "Gesuch"

In [7]:
df[df.offerType != "Gesuch"]

,dateCrawled,name,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,Angebot,480,test,NaN,1993,manuell,0.0,golf,150000.0,0.0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0.0,70435.0,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,Angebot,18300,test,coupe,2011,manuell,190.0,NaN,125000.0,5.0,diesel,audi,ja,2016-03-24 00:00:00,0.0,66954.0,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",Angebot,9800,test,suv,2004,automatik,163.0,grand,125000.0,8.0,diesel,jeep,NaN,2016-03-14 00:00:00,0.0,90480.0,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,Angebot,1500,test,kleinwagen,2001,manuell,75.0,golf,150000.0,6.0,benzin,volkswagen,nein,2016-03-17 00:00:00,0.0,91074.0,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,Angebot,3600,test,kleinwagen,2008,manuell,69.0,fabia,90000.0,7.0,diesel,skoda,nein,2016-03-31 00:00:00,0.0,60437.0,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85451,2016-03-07 12:57:43,Opel_Zafira_1.7_CDTI_ecoFLEX_Family,Angebot,15550,test,bus,2013,manuell,110.0,zafira,30000.0,3.0,diesel,opel,nein,2016-03-07 00:00:00,0.0,92342.0,2016-04-05 20:16:51
85452,2016-03-28 22:55:31,BMW_540i_e39_Prins_LPG__AHK__Tuev__Eisenmann__...,Angebot,5200,control,limousine,1999,automatik,286.0,5er,150000.0,0.0,lpg,bmw,nein,2016-03-28 00:00:00,0.0,32457.0,2016-04-07 14:58:16
85453,2016-04-03 09:49:56,Polo_1.2_motor,Angebot,1600,control,NaN,2016,manuell,64.0,polo,5000.0,5.0,benzin,volkswagen,NaN,2016-04-03 00:00:00,0.0,59425.0,2016-04-03 09:49:56
85454,2016-03-21 23:51:11,Gepflegter_Passat_3b,Angebot,3500,test,limousine,1997,manuell,125.0,passat,150000.0,1.0,benzin,volkswagen,nein,2016-03-21 00:00:00,0.0,38179.0,2016-04-05 13:17:04
85455,2016-03-22 12:06:26,Audi_A4_1_9_TDI_S_line,Angebot,3490,control,kombi,2004,manuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Dropping the column offerType since it has same entries

In [8]:
df = df.drop("offerType", 1)
print(df.shape)

(85456, 18)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

###Removing cars having power less than 50hp and greater than 900hp

In [9]:
df = df[(df.powerPS > 50) & (df.powerPS < 900)]
print(df.shape)

(73331, 18)

###Keeping only the cars which are registered between 1950 and 2017

In [10]:
df = df[(df.yearOfRegistration >= 1950) & (df.yearOfRegistration < 2017)]
print(df.shape)

(70998, 18)

###Removing irrelevant columns

In [11]:
df.drop(["name", "abtest", "dateCrawled", "nrOfPictures", "lastSeen", "postalCode", "dateCreated"], axis = "columns", inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

###Dropping the duplicates in the dataframe and storing it in a new dataframe

In [12]:
newdf = df.copy()
newdf = newdf.drop_duplicates(["price", "vehicleType", "yearOfRegistration", "gearbox", "powerPS", "model", "kilometer", "monthOfRegistration", "fuelType", "notRepairedDamage"])

###Replacing german words with proper english words

In [13]:
newdf.gearbox.replace(("manuell","automatik"), ("manual", "automatic"), inplace = True)
newdf.fuelType.replace(("benzin","andere","elektro"), ("petrol", "others", "electric"), inplace = True)
newdf.vehicleType.replace(("kleinwagen","cabrio","kombi","andere"), ("small car","convertible","combination",
                            "others"), inplace = True)
newdf.notRepairedDamage.replace(("ja","nein"), ("yes", "no"), inplace = True)

###Removing the outliners

In [14]:
newdf = newdf[(newdf.price >= 100) & (newdf.price <= 150000)]

###Filling NaN

In [15]:
newdf["notRepairedDamage"].fillna(value = "not-declared", inplace = True)
newdf["fuelType"].fillna(value = "not-declared", inplace = True)
newdf["gearbox"].fillna(value = "not-declared", inplace = True)
newdf["vehicleType"].fillna(value = "not-declared", inplace = True)
newdf["model"].fillna(value = "not-declared", inplace = True)

###Saving the cleaned dataset

In [16]:
newdf.to_csv("/content/autos_preprocessed.csv")

###LabelEncoding the categorical data

In [17]:
labels = ["gearbox", "notRepairedDamage", "model", "brand", "fuelType", "vehicleType"]
mapping = {}
for i in labels:
    mapping[i] = LabelEncoder()
    mapping[i].fit(newdf[i])
    trans = mapping[i].transform(newdf[i])
    np.save(str("classes"+i+".npy"),mapping[i].classes_)
    print(i,":",mapping[i])
    newdf.loc[:,i+"_labels"] = pd.Series(trans, index = newdf.index)

labeled = newdf[["price", "yearOfRegistration", "powerPS", "kilometer", "monthOfRegistration"] + [x+"_labels" for x in labels]]
print(labeled.columns)

gearbox : LabelEncoder()
notRepairedDamage : LabelEncoder()
model : LabelEncoder()
brand : LabelEncoder()
fuelType : LabelEncoder()
vehicleType : LabelEncoder()
Index(['price', 'yearOfRegistration', 'powerPS', 'kilometer',
       'monthOfRegistration', 'gearbox_labels', 'notRepairedDamage_labels',
       'model_labels', 'brand_labels', 'fuelType_labels',
       'vehicleType_labels'],
      dtype='object')

##Splitting data into dependent and independent variables

###Sorting price

In [18]:
Y = labeled.iloc[:,0].values
X = labeled.iloc[:,1:].values
Y = Y.reshape(-1,1)

###Splitting the data into training and testing set

In [19]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 3)

##Choosing appropriate model

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
regressor = RandomForestRegressor(n_estimators=1000, max_depth=10, random_state=34)

##Fitting the model

In [21]:
regressor.fit(X_train, np.ravel(Y_train, order='C'))

RandomForestRegressor(max_depth=10, n_estimators=1000, random_state=34)

##Checking the metrics

In [22]:
y_pred = regressor.predict(X_test)

print(r2_score(Y_test, y_pred))

0.8150248765958094

##Saving model

In [23]:
filename = "resale_model.sav"
pickle.dump(regressor, open(filename, "wb"))